@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
}

body {
  margin: 0;
}

@media print {
  header {
    display: none;
  }

  main {
    background: white;
  }
}
